#runar-nav {
    margin: 0.5rem;
    border: solid 2px black;
    border-radius: 1rem;
    top:0.5rem;
    background-color: #004e98;
}

#runar-nav a {
    color: #f2f2f2;
    font-weight: 700;
    font-style:italic;
}

#tag-chart-row {
    max-height: 240px;
}

#last-five-body > tr {
    vertical-align: middle;
}

#last-five-body span.date-hour {
    font-size: 0.75em;
}

.badge.bg-interval {
    background-color: #c81d25;
}

.badge.bg-easy {
    background-color: #004e98;
}

.badge.bg-warmup {
    background-color: #c0c0c0;
}

.badge.bg-race {
    background-color: #008000;
}

.badge.bg-fartlek {
    background-color: #f3722c;
}
.badge.bg-tempo {
    background-color: #f1ba4f;
}
.badge.bg-hills {
    background-color: #ff4d6d;
}
.badge.bg-longrun {
    background-color: #012a4a;
}
.badge.bg-progressive {
    background-color: #7b2cbf;
}
.badge.bg-na {
    background-color: #5e503f;
}

#q-button, #stack-button {
    width: 60px;
    height: 18px;
    padding: 1px 2px;
    margin: 0px 6px;
    font-size: 10px;
}

#reset-filter-button {
    width: 44px;
    height: 18px;
    font-size: 9px;
    padding: 1px 2px;
}