{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}
    <div id="test-chart-row" class="row">
        <div class="col-12 col-md-4">
            <canvas id="test-canvas"></canvas>
        </div>
        <div class="col-12 col-md-2">
            <div class="cum-distance this-year">
                <div id="ty-label"></div>
                <div class="ty-distance">
                    <span id="ty-distance-value" class="distance-value"></span>
                    <br/>
                    <span class="distance-units">km</span>
                </div>
            </div>
            <div class="cum-distance last-year">
                <div id="ly-label"></div>
                <div class="ly-distance">
                    <span id="ly-distance-value" class="distance-value"></span>
                    <br/>
                    <span class="distance-units">km</span>    
                </div>
            </div>
            <div class="cum-distance avg-year">
                <div id="av-label"></div>
                <div class="av-distance">
                    <span id="av-distance-value" class="distance-value"></span>
                    <br/>
                    <span class="distance-units">km</span>  
                </div>
            </div>
        </div>
    </div>
    <div id="totals-chart-row" class="row">
        <div class="col-12 col-md-4">
            <canvas id="yearly-distance"></canvas>
        </div>
        <div class="col-12 col-md-4">
            <canvas id="monthly-distance"></canvas>
        </div>
        <div class="col-12 col-md-4">
            <canvas id="bubble-distance"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <button id="q-button" class="btn btn-outline-primary" onClick="toggleDataset()">Q/NQ View   </button>
                    <button id="stack-button" class="btn btn-outline-primary" onClick="toggleStack()">Relative</button>
                </div>
            </div>
            <div id="tag-chart-row" class="row">
                <canvas id="tag-totals"></canvas>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-12">
            <table id="last-five" class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Tag</th>
                        <th>Distance</th>
                        <th>Elapsed</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="last-five-body">

                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/handlers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/my_graphs.js') }}"></script>
    <script src="{{ url_for('static', filename='js/last_five.js') }}"></script>
    <script src="{{ url_for('static', filename='js/test_graph.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/year_month_totals.js') }}"></script> -->
    <!-- <script src="{{ url_for('static', filename='js/tag_totals.js') }}"></script> -->
    <!-- <script src="{{ url_for('static', filename='js/bubble_distance.js') }}"></script> -->
{% endblock %}